<div class="has-text-centered">
  <span class="icon is-large has-text-danger">
    <i class="fas fa-times-circle fa-4x"></i>
  </span>

  <h1 class="title is-3 mt-4">Payment Canceled :(</h1>
  <p class="subtitle is-5">Your transaction was canceled or failed.</p>

  <%= link_to "Return to Homepage", root_path, class: "button is-danger mt-5" %>
</div>