<div class="has-text-centered">
  <h1 class="title is-3 mt-4">Thank You for Your Mone-... Purchase!</h1>
  <p class="subtitle is-5">Your order was successfully completed. </p>

  <%= link_to "Return to Homepage", root_path, class: "button is-primary mt-5" %>
</div>