<h1 class="title is-2">All Products</h1>

<ol class="ml-5">
  <% @products.each do |product|%>
    <li><%= link_to product.name, product%></li>
    <li>Category: <%=link_to product.category.name, product.category%></li>
  <%end%>
</ol>